body{
  background: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#score{
  color: red;
}

#highestScore{
  color: red;
}

#board{
  width: 530px;
  height: 530px;
  background-color: #ffd494;
  margin: 0px auto;
  border-radius: 15px;
}

#block00{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block01{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block02{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block03{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block10{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block11{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block12{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block13{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block20{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block21{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block22{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block23{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block30{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block31{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block32{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

#block33{
  width: 120px;
  height: 120px;
  background-color: #fae5c5;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  color: black;
  float: left;
  margin: 10px 0px 0px 10px;
  border-radius: 15px;
}

/*game start page setting*/
#gameStart{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #ffd494;
}

/*game over page setting*/
#gameOver{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #ffd494;
  display: none;
}

/*record page setting*/
#record{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #ffd494;
  display: none;
}

/*pause page setting*/
#pause{
  position:absolute;
  top:0;
  left:0;
  padding-top: 100px;
  width:100%;
  height:100%;
  background: rgb(255, 212, 148);
  display: none;
}

#pause2{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(255, 212, 148, 0.5);
  display: none;
}

h2{
  padding-top: 5px;
  padding-bottom: 5px;
}

p{
  width:400px;
  margin:0 auto;
  font-size:40px;
  font-weight: bold;
  padding-top: 100px;
}